
.navegador h1 {
    background-color:#3366FF;
    text-align: center;
    font-size: 40px;
    padding: 40px;

           
}

.titulo h1{
    margin-left: 300px;
    font-size: 75px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.titulo h2{
    margin-left: 300px;
    font-size: 26px;
}

.titulo h3{
    margin-left: 300px;
    font-size: 22px;
    line-height: 40px;
}

.titulo img{
    width: 800px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}